@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <button onclick="GetProjectData()"> Get Data from database </button>
        <div id="projectDataDiv"></div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function ()
        {
            let tspaDb = new DAL.TspaDatabase();
            let indexDbComponent = tspaDb.GetIndexedDbComponent();

            if (indexDbComponent)
            {
                tspaDb.BuildIfNeeded(indexDbComponent);
            }
        });

        function GetProjectData()
        {
            const tspaDb = new DAL.TspaDatabase();

            tspaDb.GetProject("999-44-4444", (proj)=>
            {
                $('#projectDataDiv').text("Numer polskiego projektu: " + proj.ParentProjectNumber +
                    "Przepracowane godziny: " + proj.WorkingHours +
                    "Data: " + proj.Date);
            });
        };
    </script>
}